body {
    font-family: arial;
    background-color: #696969;
    color: #4b4dad;
}

h2 {
    text-align: center;
    margin-top: 0px;
    text-shadow: -1px -1px #ff0000;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 0px;
    text-shadow: 2px 2px #ff0000;
}

.player {
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    border: 20px solid black;
    /*text-align: center;*/
}

.score {
    font-size: 2em;
    margin-left: 40px;
}

#winners {
    font-size: 3em;
    text-align: center;
    background-color: red;
    padding: 20px;
    font-weight: bold;
    outline: 5px solid green;
    margin-top: 20px;
    margin-bottom: 20px
}

.name {
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.avatar {
    width: 75px;
}

.cards {
    margin-left: 30px;
}

#stats {
    font-size: 1.2em;
    color: white;
}

.button {
    background-color: #f000ff;
    border: 2px solid white;
    color: #fff600;
    padding: 15px;
    text-align: center;
    font-size: 44px;
}

#buttonspace {
    text-align: center;
}